* {
	box-sizing: border-box;
}

body {
	background-color: none;
	margin: auto;
}
										/* CONTAINS ALL HEADER ELEMENTS */
header {
	width: 100%;
	margin: auto;
	text-align: center;
	top: 0;
}

.fixed-navbar {				
	position: fixed;
	width: 100%;
	height: 80px;
	margin: auto;
	top: 0;
	background-color: rgba(250, 250, 250, 0.8);
	box-shadow: 0px 3px 8px #e6e6e6;
}


@media screen and (max-width: 900px) {
	.fixed-navbar {
		position: static;
		width: 100%;
		height: auto;
		top: 0;
		background-color: #fff;
		box-shadow: none;

	}
}

.main-header {
	font-family: 'Playfair Display', serif;
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;

}

.main-nav {
	text-align: center;
	list-style-type: none;
	text-decoration: none;
	display: none;
	background-color: none;
}

.navbar-toggle {							/* HAMBURGER ICON */
	width: 100%;
	margin: auto;
	cursor: pointer;
	color: #000;
	font-size: 25px;
}											/* END */

.navbar a {
	text-decoration: none;
	color: #000;
	/*letter-spacing: 2px;*/
}

.active {
	display: block;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	padding: 0;
	color: #fff;
}


@media screen and (min-width: 900px) {
.main-nav {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 8px;
	padding-left: 0;
}

.navbar {
	max-height: 40px;
}

										/* END */
li a {
	text-decoration: none;
	font-family: "Lato", sans-serif;
	padding: 9px;
	color: #000;
	font-size: 14px;
	letter-spacing: 1px;
}

										/* BORDER COLOURS FOR NAV BAR */
.border-btm-red:hover {
	color: #ee2324;
	padding: 9px;
	border-bottom: 2px solid #ee2324;
}

.border-btm-gold:hover {
	color: #ee2324;
	padding: 9px;
	border-bottom: 2px solid #ffcc00;
}

.border-btm-green:hover {
	color: #ee2324;
	padding: 9px;
	border-bottom: 2px solid #00b300;
}

.border-btm-blue:hover {
	color: #ee2324;
	padding: 9px;
	border-bottom: 2px solid #1a8cff;
}

.border-btm-plain:hover {
	color: #ee2324;
	padding: 9px;
	}
										/* END */
.navbar-toggle {
	display: none;
	}
}

#search-bar {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: -35px;
	right: 10px;
	font-size: 20px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
}
											/* SEARCH BAR & MAGNIFYING GLASS */
@media screen and (max-width: 1155px) {
	#search-bar {
		position: relative;
		top: -48px;
	}
}

.position {
	position: relative;
	top: -3px;
	left: 5px;
}											/* END */

@media screen and (max-width: 900px) {
	#search-bar {
		display: none;
	}
}

@media screen and (max-width: 1000px) {		/* RESPONSIVE NAV BAR */
	li a {
		font-size: 11px;
	}
}											/* END */

article {
	display: block;
	margin-top: 105px;
	margin-left: 225px;
	margin-right: 225px;
}

@media screen and (max-width: 900px) {
	article {
		width: auto;
		margin-top: 30px;
		margin-left: 15px;
		margin-right: 15px;
	}
}
											/* POSITIONING FOR ROW / CONTAINER ELEMENTS */
.row {
	display: flex;
	/*flex-wrap: wrap;*/
	margin-bottom: 15px;


}

/*.row::after {
	content: "";
	clear: both;
	display: table;
}*/

.col-40 {
	/*float: left;*/
	flex: 40%;
	width: 40%;

}

.col-60 {
	/*float: left;*/
	flex: 60%;
	width: 60%;
	padding-right: 10px;
	/*background-color: #e6e6e6;*/
}

#positioning {
	padding-right: 0;
	padding-left: 10px;
}


											/* TRANSITION FOR IMAGES */
.container {
	width: 100%;
	height: 100%;
	margin: auto;
	border: 1px solid #e6e6e6;
	border-radius: 3%;
	transition: transform 0.5s;
}

.transition {
	background-size: contain;
	margin-right: 15px;
	margin-bottom: 25px;
	border: 1px solid #e6e6e6;
	border-radius: 3%;
	transition: transform 0.5s;
}

.container:hover { 
	-ms-transform: translate(10px, 10px); /* IE 9 */
	-webkit-transform: translate(10px, 10px); /* Safari, Chrome*/
	transform: translate(10px, 10px);
}
											/* END */
h1 {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	padding: 15px;
	max-width: 100%;
	margin: -4px 0px 0px 0px;
}
											/* BORDER TOP FOR H1 ELEMENTS  */
.border-top-red {
	border-top: 4px solid #ee2324;

}

.border-top-gold {
	border-top: 4px solid #ffcc00;
	
}

.border-top-green {
	border-top: 4px solid #00b300;
	
}

.border-top-blue {
	border-top: 4px solid #1a8cff;
	
}
											/* RESPONSIVE H1 FONTS */
@media screen and (max-width: 1370px) {
	h1 {
		font-size: 18px;
	}
}

@media screen and (max-width: 1190px) {
	h1 {
		font-size: 15px;
	}
}
											/* RESPONSIVE IMAGES */
@media screen and (max-width: 1080px) {
	.row {
		/*float: none;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		/*padding-bottom: 5px;*/
		width: 100%;
		height: 100%;
	/*	margin-left: 5px;
		margin-right:5px;*/
	}
	.col-60 {
		padding-right: 0px;
		width: auto;
	}

	.col-40 {
		margin-top: 15px;
		margin-bottom: 15px;
		padding-left: 0px;
		width: auto;
	}
	#positioning {
		padding-left: 0px;
	}
}

footer {									/* FOOTER */
	width: 100%;
	padding: 30px;
	background-color: #aaa;
	text-align: center;
	font-family: "Lato", sans-serif;
	box-shadow: inset 0 7px 20px -10px #000;
}

footer a {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	padding-right: 25px;
	padding-left: 25px;
	border-right: 2px solid #fff;
}

@media screen and (max-width: 450px) {
	footer a {
		font-size: 15px;
	}
}

.copyright {
	font-size: 13px;
	font-weight: 100;
	color: #fff;
	text-transform: none;
	font-style: italic;
	letter-spacing: 1px;
}

footer div {
	margin: auto;
	max-width: 880px;
}

.button-style {
	font-size: 14px;
	border: 1px solid #bbb;
	background-color: #bbb;
	padding: 10px 20px;
	letter-spacing: 4px;
	display: inline-block;
}

.button-style:hover {
	background-color: #8c8c8c;
}
